{% extends 'base.html' %}

{% block page_content %}
    <p style="text-align: center">
        <img src="{{ url_for('static', filename='images/logo.png') }}">
    </p>

    <div class="row">
        <div class="col-lg-4">
            <h3>Выживайте</h3>
            <p>Исследуйте огромный и цельный мир. Бродите по осыпающимся развалинам и узнавайте историю древних
                цивилизаций. Боритесь с голодом и жаждой, а временами и безумием в темных подземельях, полных
                ужасных тварей. Спасайтесь от страшных песчаных бурь и жаждущих крови людоедов. Учитесь мастерить
                новые предметы и строить все более прочные здания. Дайте волю дикой ярости! Пусть от ваших жестоких
                ударов катятся головы и разлетаются руки и ноги.</p>
        </div>

        <div class="col-lg-4">
            <h3>Стройте</h3>
            <p>Собирайте все подряд, от камня и древесины до редких минералов и человеческой плоти. Используйте
                кузницы, дубильни и другие мастерские для создания инструментов, доспехов и грозного оружия.
                Постройте дом, крепость или целый город с помощью невероятно развитой строительной системы.
                Размещайте постройки практически где угодно, хоть среди древних руин и на склонах гор. Создавайте
                различные предметы обстановки и украшения для придания неповторимого облика своему жилищу и
                поселению.</p>
        </div>

        <div class="col-lg-4">
            <h3>Правьте миром</h3>
            <p>Ходите войной на других игроков, взрывайте городские стены и властвуйте над Землями изгнанников.
                Захватывайте пленников и ломайте их волю на колесе боли. Заставляйте рабов защищать ваше поселение и
                мастерить редкие предметы. Постройте алтарь своего бога и приносите ему жертвы в обмен на милость и
                награды. Призывайте огромные воплощения богов и управляйте ими, обращая в бегство врагов, разрушая
                их дома и имущество.</p>

        </div>
    </div>
{% endblock %}